#board {
    .block-basic-code {


        .block-basic-code-parameters {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            .code-parameter-port {
                margin: auto;
            }
        }

        .grid-container {
            display: flex;
            flex-direction: row;

            .block-basic-code-inputs,
            .block-basic-code-outputs {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                max-width: 50px;
                word-break: break-all;

                .code-output-ports {
                    margin-right: -10px;
                }
            }

            .block-basic-code-textarea-container {
                flex: 1;
                margin: 5px;
                overflow-y: hidden;
                resize: both;
                padding: 5px;

            }


        }
    }
}
