@import '../../../../variables';

#board {
    .port-container {
        display: inline-block;
        font-size: 10px;

        .custom-port {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: relative;
        
            &:hover {
                cursor: pointer;
            }

        }
        &.right-aligned-port {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        &.bottom-aligned-port {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &.left-aligned-port {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &.top-aligned-port {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.theme-dark {
    #board {
        .port-container {
            .custom-port {
                
                &.custom-input-port {
                    background-color: $dark-input-port;
                }
            
                &.custom-output-port {
                    background-color: $dark-output-port;
                }

                &.custom-param-port {
                    background-color: $dark-param-port;
                }
            }
        }
    }
}