@import '../../_variables.scss';
@import '@szhsin/react-menu/dist/index.css';
@import '@szhsin/react-menu/dist/theme-dark.css';



.theme-dark {
    #menu-bar {
        background-color: $dark-appbar-background;

        .rc-menu-container--theme-dark .rc-menu {
            color: #cad1d8;
            background-color: $dark-appbar-background;
            border: 1px solid #333;
            box-shadow: 0 2px 9px 3px rgba(0, 0, 0, 0.25);
          }
          .rc-menu-container--theme-dark .rc-menu__arrow {
            background-color: #22262c;
            border-left-color: #333;
            border-top-color: #333;
          }
          .rc-menu-container--theme-dark .rc-menu__item--hover {
            background-color: scale-color($dark-appbar-background, $lightness: 10%);
          }
    }
}

#menu-bar {
  .menu-button {
    margin-right: 1em;
  }
}