.theme-dark {
    #board {
        .block-basic-constant {
            background-color: #f6a706;
        
            .block-basic-constant-input {
                background-color: wheat;

                input {
                    color: black;
                }
            }
        }
    }
}

#board {
    .block-basic-constant {
        width: 120px;
        min-height: 80px;
    
        .block-basic-constant-input {
            margin-left: 1em;
            margin-right: 1em;
            margin-bottom: 1em;
            border-radius: 5px;
        }
    
        .constant-output-port {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
