$dark-appbar-background: #333;
$dark-canvas-background: rgb(107, 107, 107);
$dark-canvas-grid: rgba(255,255,255, 0.05);



$dark-constant-background: #f6a706;
$dark-param-port: #f6a706;
$dark-input-port: red;
$dark-output-port: green;