.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.p-0 {
  padding: 0!important;
}

.text-center {
  text-align: center;
}

.flex-spacer {
  flex: 1;
}

.h-100 {
  height: 100%!important;
}



.app-container {
  display: flex;
  height: 100vh; /* Set the container's height to full viewport height */
}

.column {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

/* Iframe should take up the full height of the container */
iframe {
  height: 100%;
}
